{% if current_user.is_authenticated %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
    </head>
    <body>
        <p>File {{filen}} uploaded successfully<br>Please Click me to go back to the upload page </p>
        <button onclick="window.location.href='/admin/index2/'">Go Back</button>
    </body>
</html>

{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Pricing Tool</h1>
      <p class="lead">
        HomePage
      </p>
      <p>
        This application helps visualise the waterfall chart of data imported in the form of a csv file format
      </p>
      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

